<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bio {
            max-width: 900px;
            height: auto;
            background-color: #FFEBC6;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            margin-bottom: 20px; /* Adjusted margin-bottom */
        }

            .bio img {
                width: 440px;
                height: auto;
                border-radius: 10px;
                margin-right: 20px;
            }

        .bio-content {
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="bio">
            <img src="~/img/GotHerIn4K.png" alt="Profile Picture">
            <div class="bio-content">
                <h1>About the creator of Aurora Bricks!</h1>
                <p>
                    Hi, I'm Aurora! Ever since I was a little girl, I've been fascinated by the endless possibilities of LEGO bricks. Their vibrant colors and the way they click together to form anything my imagination desires has always filled me with joy.

                    Driven by my love for creativity and building, I decided to turn my passion into a business venture. Each set I offer is chosen with the utmost care, ensuring that it meets my standards of quality and innovation.

                    Through my website, I aim to share my passion for LEGO with others who share the same love for these iconic bricks. Whether you're a seasoned builder or just starting out, my store has something for everyone. But more than just selling LEGO sets, I strive to foster a sense of community among LEGO enthusiasts. My website serves as a hub where builders and collectors alike can come together to share their love for all things LEGO.

                    Join me on this journey of creativity and imagination as we explore the wonderful world of LEGO together!
                </p>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>
