@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>

<div class="text-center">
    <h2 class="text-center">Welcome to Aurora Bricks, we're happy to have you friend! Happy bricking!</h2>
    <div class="row">
        <div class="col-2">
            Add filtering here
        </div>
        <div class="col">
            @if (Model != null && Model.Any())
            {
                <img src="@Model[0].img_link"/>
            }
            else
            {
                <p>No image available</p>
            }

        </div>
    </div>
</div>