################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntexII_11/FileContentIndex
/.vs/IntexII_11/DesignTimeBuild/.dtbcache.v2
/.vs/IntexII_11/v17/.suo
/.vs/IntexII_11/v17/DocumentLayout.json
