@{
    ViewData["title"] = "Order Details";
    Layout = "_Layout";
}
@model List<Product>

<div class="container mt-5">
    @if (Model != null)
    {
        <div class="row">
            @for (var i = 0; i < ViewBag.qty.Count; i++)
            {
                <div class="col-md-4"> <!-- Adjust the column size as needed -->
                    <div class="card m-1 p-1">
                        <div class="d-flex flex-column justify-content-between text-center">
                            <div>
                                <br /><img src="@Model[i].img_link" width="150" height="150" class="mb-2" />
                                <ul class="list-unstyled mb-0">
                                    <li>@Model[i].name</li>
                                    <li>Quantity: @ViewBag.qty[i]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger">Order not found.</div>
    }
</div>