@{
    ViewData["title"] = "Order Details";
    Layout = "_Layout";
}
@model List<Product>


<div class="container mt-5">
    @if (Model != null)
    {
        <div class="row">
            @foreach (Product p in Model)
            {
                <div class="card m-1 p-1" style="width: 30%;">
                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <br /><img src="@p.img_link" width="150" height="150" class="mb-2" />
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <span>
                                        <img src="~/img/logo.png" width="20" height="20" alt="Logo Icon" />
                                        <small>@p.num_parts pieces</small>
                                    </span>
                                </li>
                                <li>@p.name</li>
                                <li>Categories: @p.category</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>




    }
    else
    {
        <div class="alert alert-danger">Order not found.</div>
    }
</div>