html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.cookie-consent-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.cookie-consent-modal .content {
        margin: auto;
    }

.cookie-consent-modal button {
        margin: 5px;
    }


/* Make the main content flex and grow to push the footer down */
main {
    flex: 1;
}

/* Footer styles */
footer {
    background-color: white; /* Example background color */
    padding: 10px 0;
    text-align: center;
}
/* CSS file or <style> tag within the HTML */
/* Increase specificity by repeating the class */
.btn-secondary.btn-secondary {
    background-color: #007bff; /* Default state */
    color: #fff;
}

    .btn-secondary.btn-secondary:hover {
        background-color: #28a745; /* Green on hover */
        color: white;
    }

    /* Target the active state more specifically */
    .btn-secondary.btn-secondary:active,
    .btn-secondary.btn-secondary:focus {
        background-color: #218838; /* Darker green when clicked */
        color: white;
    }
.filter-box {
    border: 2px solid #000; /* Black border, 2px thickness */
    padding: 10px; /* Optional: Adds some space inside the box */
    margin-bottom: 20px;
    text-align: left;
    max-height: 550px; /* Adjust as needed */
    overflow-y: auto; /* Optional: Adds some space outside the box */
}

