html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.cookie-consent-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.cookie-consent-modal .content {
        margin: auto;
    }

.cookie-consent-modal button {
        margin: 5px;
    }
